.center-container-color {
  background-color: #f3d2c1;
}

.counter-color {
  background-color: #fef6e4 !important;
  color: #172c66;
}

.higher-btn-color {
  background-color: #f582ae;
  color: #001858;
}

.lower-btn-color {
  background-color: #8bd3dd;
  color: #001858;
}

.main-number-font {
  font-size: 80px;
}
